body {
    height: 900px;
    display: grid;
    place-items: center;
}

.nome1 {
    height: 600px;  
    width: 800px;
    background-color: aquamarine;
    display: grid;
    place-items: center;
}

.nome2 {
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.nome3 {
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.nome4 {
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.nome5 {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    display: grid;
    grid-row: 2;
}